openai
pandas
python-dotenv
jupyter
ipykernel
matplotlib
scikit-learn
jinja2
pyyaml
anthropic
tiktoken
chromadb
langchain
langchain-openai
langchain-core
langchain-chroma
langchain-community
langchain-text-splitters
ddgs
ragas
langgraph